body {
	font-size: 18px;
}
body.navbar-pad {
	//padding-top: 86px;

}
.head {
	height: 80vh;
	background: darken($blue, 35%);
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	.wrapper {
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 100vh;
    }
	.logo {
		width: 200px;
		margin-top: 0;
		z-index: 2;
		position: relative;
		border-radius: 0;
		top: 100px;
	}
	.tagline {
		color: white;
		font-size: 5em;
		text-align: left;
		width: 75%;
		margin-top: 15vh;
		z-index: 2;
		position: relative;
		text-transform: uppercase;
		color: white; font-weight: 300;
		line-height: 1;
		position: absolute;
		position: fixed;
		strong {
			font-weight: 900;
			color: white;
		}
	}
}
nav {
	font-family: $acumin-condensed;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 100;
	border-bottom: 1px solid transparentize(white, .9);
	position: relative;
	z-index: 100000;
	height: 80px;
	transition: all 0.5s ease;
	.navbar {
		transition: all 0.5s ease;
	}
	//border-bottom: 1px solid rgba(255,255,255,.5);
	.navbar-brand {
		padding: 5px;
		border-radius: 0;
		display: none;
	}

	&.scrolled {
		@include gradient;
			transition: all 0.5s ease;

		.navbar-brand {
			display: block;
		}
	}
	a {
		font-weight: 300;
		text-decoration: none;
		color: white;
	}
	.nav-link {
		color: white !important;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: 900;
	}
	.apply {
		background-color: $green;
		border-color: $green;
		color: white;
		font-size: .7em;
	}
}
.bg-dark {
	background-color: none !important;
}
.about {
	h2 {
		color: white;
		font-size: 5.1em;
		line-height: .7;
		text-transform: uppercase;
		letter-spacing: -.02em;
		strong {
			color: white;
			font-size: 1.15em;
		}
		span {
			display: inline-block;
			font-size: 1em;
			font-weight: 900;
			letter-spacing: -.02em;
			line-height: .5;
			//margin-left: -7px;
		}
		small {
			font-size: .7em;
			line-height: 9px;
			display: inline-block;
			top: -19px;
			position: relative;
		}
	}
}
.aim {
	color: white;
	/*.hexagon {
		position: absolute;
		left: -15px;
		top: 5px;
	}*/
	h3 {
		font-weight: 900;
		text-transform: uppercase;
		color: white;
		position: relative;
		font-size: 6em;
		


	}
	h4 {
		line-height: 160px;
		height: 160px;
		width: 140px;
		margin: 0 auto;

		}
}
.hex-bg-gradient {
	font-weight: 900;
	color: black;
	font-size: 4em;
	font-family: $acumin-condensed;
	color: $gray-600;
	display: block;
	text-align: center;
	background: url(../img/hex-bg-gradient.svg) center center no-repeat;
	background-size: 80px;
	height: 100px;
	color: white;
}
.hex-bg-outline {
	font-weight: 900;
	color: black;
	font-size: 4em;
	font-family: $acumin-condensed;
	color: $gray-600;
	display: block;
	text-align: center;
	background: url(../img/hex-bg-outline.svg) center center no-repeat;
	background-size: 140px;
	color: white;
}

.process {
	.step {
		padding-top: 1em;
		.hexagon {
			display: flex;
			position: relative;
			top: -7px;
			margin: 0 auto;

		}
		border-top: 4px solid $gray-500;
		position: relative;
		background: rgba(255,255,255,.4);
		text-align: center;

		h3 {
			font-weight: 900;
			color: black;
			font-size: 4em;
			font-family: $acumin-condensed;
			color: $gray-600;
			display: block;
			background: url(../img/hex-bg-gray.svg) center center no-repeat;
			background-size: 80px;
			height: 100px;
			color: white;

		}
		
		p {
			color: black;
			text-transform: uppercase;
			font-family: $acumin-condensed;
			color: $gray-600;
			font-size: 1.3em;

		}
		.date {
			font-size: .8em;

		}

		/*&:before {
			width: 18px;
			height: 18px;
			border-radius: 18px;
			background: $gray-500;
			top: -9px;
			right: 45%;
			content: '';
			position: absolute;
		}*/
	}
	.current {
			
			border-top-color: $blue;
			background: lighten($blue, 57%);
			h3 {
				color: white;
				background: url(../img/hex-bg.svg) center center no-repeat;
				background-size: 80px;
				height: 100px;
				color: white;
			}
			p {
				color: $blue;
			}
			&:before {
			
			background: $blue;
			
		}
		}
}
.big-changes {
	margin-top: 9em;
}

.tile {
	@include gradient;
	padding: 5em;
	h4 {
		font-size: 3em;
		color: white;
	}
	p {
		color: white;
		.location {
			margin-top: 1em;
		}
	}
	&.featured {
		font-size: 1.5em;
	}
}

.jury {
	background-size: cover;
	h2 {
		font-size: 6em;
		line-height: .9em;
		font-weight: 900;
		text-transform: uppercase;
		strong {
			display: block;
			font-size: 1.35em;

		}
		small {
			display: block;
			font-size: .5em;
			margin-top: -30px;
		}
	}
	.jury-items {
	}
	.row-offset {
		width: 600px;
		margin-left: 113px;
		margin-top: -50px;
		margin-bottom: -50px;

		}
		.row-last {

		margin-top: -50px;
		margin-bottom: 3em;
		}
	.item {
		position: relative;
		display: inline-block;
		border-radius: 25px;
		overflow: hidden;
		width: 190px;
		height: 200px;
		margin: 0 1px 2px 0;
		
		img {
			position: relative;
			width: 100%;
			height: 200px;

		}
		.caption {
			border-radius: 25px;
			padding: 1.5em;
			position: absolute;
			color: white;
			background: $blue;
			top: 200px;
			opacity: .9;
			height: 217px;
			width: 100%;
			transition: all .3s ease-in-out;
			font-size: .8em;
			@include gradient;
			h5 {
				font-weight: 900;
				font-family: $acumin-condensed;
				font-size: 1.15em;
				line-height: 1.2em;
				margin-bottom: 1em;
			}
		}
		&:hover {
			.caption {
				bottom: 0;
				top: 0;
								width: 100%;

			}
		}
	}
	.content {
		padding: 5em;
	}
}
#advisory_council {
	background: white;
	h2 {
		text-transform: uppercase;
		line-height: .8;
		margin-bottom: 1em;
		strong {
			display: block;
			font-size: .85em;
			letter-spacing: -1px;
		}
	}
	.img-more {
		position: relative;
		border-radius: 25px;
		overflow: hidden;
		width: 19.8%;
		height: 200px;
		margin: 0 1px 2px 0;
		img {
			width: 100%;
			height: auto;
		}
		.title {
			font-weight: 900;
			font-size: 1.2em;
			line-height: 1.1em;
			font-family: $acumin-condensed;
			margin-bottom: 1em;
		}
		.hover {
			border-radius: 25px;
			padding: 1.5em;
			position: absolute;
			color: white;
			background: $blue;
			top: 200px;
			opacity: .9;
			height: 217px;
			width: 100%;
			font-size: .8em;
			transition: all .3s ease-in-out;
			@include gradient;
		}
		&:hover {
			.hover {
				bottom: 0;
				top: 0;
								width: 100%;

			}
		}
	}
	
}
#faq {
	@include gradient;
	color: white;
	padding: 3em 0 0 0;
	//margin-top: 3em;
}

.faq {
        height: 400px;
    }
    .faq .container {
        width: 500px;
    }
    .faq .title {
        font-size: 150px;
        
    }
    .faq ul {
        margin: 30px 0 0 40px;
    }
    .faq p {
        width: 370px;
        top: 145px;
    }
    .faq .container {
        width: 300px;
    }
    .faq .title {
        font-size: 100px;
        letter-spacing: 0;
    }
    .faq ul {
        margin-left: 17px;
    }
    .faq li {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .faq li a {
        font-size: 14px;
        height: 13px;
    }
    .faq .title {
        font-size: 80px;
        letter-spacing: 0;
        top: -5px;
        left: 0;
    }
    .faq p {
        width: 300px;
        top: 105px;
        left: 0;
        font-size: 14px;
    }
    .faq .more {
        bottom: 175px;
    }
    .faq {
   
    height: 450px;
}

.faq .container {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.faq h2 {
    font-size: 325px;
    color: #fff;
    position: relative;
    top: -166px;
    left: -39px;
    letter-spacing: -10px;
    text-decoration: none;
    font-weight: 900;
}
.faq ul {
    float: left;
    margin: 60px 0 0 270px;
}

.faq li {
    position: relative;
    list-style: none;
    padding: 0 15px 30px 15px;
}

.faq li:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 0;
}

.faq li a {
    color: #fff;
    text-decoration: underline;
    display: block;
    font-family: $acumin-condensed;
    font-size: 1.4em;
    
}

.faq li a span {
    position: relative;
    transition: transform 0.3s;
    display: block;
}

.faq li a span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.faq li a:hover span {
    transform: translateY(-100%);
}

.faq p {
    position: absolute;
    top: 285px;
    left: 45px;
    font-size: 19px;
    color: #fff;
    width: 485px;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.faq .more {
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.faq .more .span {
    display: block;
    float: left;
    font-family: $acumin-condensed;
}

.faq .more .span span {
    position: relative;
    transition: transform 0.3s;
    display: block;
}

.faq .more .span span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.faq .more .span:hover span {
    transform: translateY(-100%);
}

.faq .more .arrow {
    background: url(../img/arrow1.png) no-repeat 0 0;
    width: 39px;
    height: 7px;
    display: block;
    float: right;
    margin: 16px 0 0 15px;

}

.faq .contact {
    width: 405px;
    height: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: $green;
    box-sizing: border-box;
    padding: 42px 0 0 46px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.faq .contact:hover {
    background: lighten($green, 15%);
}

.faq .contact .text {
    font-size: 40px;
    font-family: $acumin-condensed;
    display: block;
}

.faq .contact .arrow {
    background: url(../img/arrow1.png) no-repeat 0 0;
    width: 38px;
    height: 7px;
    position: absolute;
    top: 70px;
    left: 226px;
}

.faq .contact .text,
.faq .contact .text1 {
    display: block;
}

.faq .contact .text span,
.faq .contact .text1 span {
    position: relative;
    transition: transform 0.3s;
    display: block;
}

.faq .contact .text span:before,
.faq .contact .text1 span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.faq .contact:hover .text span,
.faq .contact:hover .text1 span {
    transform: translateY(-100%);
}	



.news-item {
	position: relative;
	height: 280px;
	clear: both;
	overflow: hidden;

	&.featured {
		height: 410px;
		img {
			transform: scale(1.3);
		}
	}
	&:hover {
		img {
			transform: scale(1.4);

		}
	}
	
	.title {
		color: white;
		position: absolute;
		z-index: 2;
		left: 0px;
		right: 0px;
		//top: 0px;
		font-family: $acumin-condensed;
		font-size: 1.5em;
		line-height: 1;
		letter-spacing: -1px;
		text-align: right;
		//text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		@include gradient;
		opacity: .9;
		padding: 1em;
		bottom: 0;

	}
	.date {
	
		font-family: $acumin;
		font-size: .6em;


	}
	img {
		transition: transform .2s; /* Animation */
		position: absolute;
		border-radius: 0;
	}

}

.register {
		font-family: $acumin-condensed;
		font-size: 1.5em;
		line-height: 1;
		letter-spacing: -1px;
		text-align: center;
		display: block;
		@include gradient;
		clear: both;
		color: white;
		font-weight: 900;
		padding: 1.15em;
		.hex-bg-white {
			z-index: 1;
			position: absolute;
			bottom: 0;
			top: 50%;
			left: 0;
			opacity: .7;
		}
	}
.grid {
		.img-more {
			width: 33% !important;
		}
	}
	.footer {
	    background: white;
	    border-top: 1px solid #ddd;
	    color: #333 !important;
	    font-size: 14px;
	}





.footer .container {
    background: white;
    margin: 0 auto;
    padding: 2em 0;
}

.footer > .container:nth-child(1) {
    padding: 70px 0 0;
}

.footer img {
    float: left;
    margin-right: 50px;
}

.footer .address {
    font-size: 16px;
    line-height: 1.5;
    float: left;
    margin-right: 152px;
}

.footer .phone {
    float: left;
    border-left: 3px solid #f7a81b;
    padding: 15px 0 10px 42px;
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 48px;
    line-height: 1.5
}

.footer .phone span {
	font-weight: 900;
}

.footer .border {
    clear: both;
}

.footer .copyright {
    float: left;
    letter-spacing: 0.4px;
}
.copy-social {
	clear: both;
	border-top: 1px solid #ddd;
	padding: 0 0 1em 0;
	font-size: .9em;
	letter-spacing: 0;
}
.footer .soc {
    float: right;
    width: 405px;
}

.footer .soc span {
    float: left;
    line-height: 27px;
    margin-right: 40px;
    font-size: 15px;
}

.footer .soc a {
    background: url(/themes/wri/images/soc.png) no-repeat 0 0;
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    margin-right: 28px;
    position: relative;
}

.footer .soc a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s, opacity 0.3s;
    top: -2px;
    left: -2px;
    padding: 2px;
    background: #000;
    visibility: hidden;
}

.footer .soc a:hover:after {
    transform: scale(1.3);
    opacity: 0;
    visibility: visible;
}

.footer .soc .twitter {
    background-position: -54px 0;
}

.footer .soc .linkedin {
    background-position: -108px 0;
}

.footer .soc .youtube {
    background-position: -160px 0;
}

.footer .soc .soc5 {
    background-position: -215px 0;
}

.footer .soc .soc6 {
    background-position: -268px 0;
}

.footer .soc > div:last-child {
    margin-right: 0;
}
.footer .soc {
    float: right;
    width: 405px;
}

.footer .soc span {
    float: left;
    line-height: 27px;
    margin-right: 40px;
    font-size: 15px;
}

.footer .soc a {
    background: #000;
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    margin-right: 28px;
    position: relative;
    color: white;
}

.footer .soc a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s, opacity 0.3s;
    top: -2px;
    left: -2px;
    padding: 2px;
    background: #000;
    visibility: hidden;
}

.footer .soc a:hover:after {
    transform: scale(1.3);
    opacity: 0;
    visibility: visible;
}

.footer .soc .twitter {
    background-position: -54px 0;
}

.footer .soc .linkedin {
    background-position: -108px 0;
}

.footer .soc .youtube {
    background-position: -160px 0;
}

.footer .soc .soc5 {
    background-position: -215px 0;
}

.footer .soc .soc6 {
    background-position: -268px 0;
}

.footer .soc > div:last-child {
    margin-right: 0;
}
.footer .soc a {
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    margin-right: 28px;
    position: relative;
    background: black;
    border-radius: 28px;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    color: white;
}
