.bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    #slide01 & {
        background: url(../img/homeHead1.jpg) no-repeat center center;
        background-size: cover;
    }
}
.slide {
    .wrapper {
        position: relative;
        z-index: 2;
    }
}

.slideInUp {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
}
.is-active .slideInUp {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


#slide01 {
    
}

.about {
    overflow: hidden;
    position: relative;
    .about-bg {
        background: url(../img/family-train.jpg) no-repeat center center #fff;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 150%;
    }
    .content {
        background: rgba(0,0,0,.5);
        padding: 10em 5em;
        position: relative;
        &:before {
            //background: rgba(0,0,0,.5);
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 45px;
            left: -45px;
            content:"\A";
            border-style: solid;
            border-width: 0 45px 650px 0;
            border-color: transparent rgba(0,0,0,.5) transparent transparent;
            position: absolute;
        }

    }
    h2 {
        color: white;
        strong {
            color: $green;
        }
    }
    p {
        color: white;
    }
}
.aim {
    padding-bottom: 5em;
    h4 {
        font-size: 2em;
    }
}
.process-section {
    padding: 10em 0 20em;
    position: relative;
    overflow: hidden;
    .apply-button {
        a {
            display: block;
            width: 100%;
            @include gradient;
            color: white;
            font-family: $acumin-condensed;
            text-align: center;
            padding: 1em;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 2em;
        }
    }
}
.clouds {
    width: 120%;
    height: 100%;
    position: absolute;
    background: url(../img/hanoi-1.jpg) no-repeat #fff;
    background-size: cover;
}
.clouds2 {
    width: 120%;
    height: 100%;
    position: absolute;
    background: url(../img/cloud1.png) no-repeat top center;
    background-size: cover;
    opacity: .5;
}
.clouds3 {
    width: 120%;
    height: 100%;
    position: absolute;
    background: url(../img/cloud2.png) no-repeat bottom center;
    background-size: 50%;
    opacity: .5;
}